<div class="container">
  <!-- Container starts here. This outermost div element serves as a wrapper for all the content inside. -->

  <div *ngIf="items.length === 0; else showItems">
    <!-- This div is displayed only if 'items' has a length of 0, meaning the array is empty.
         The '*ngIf' directive checks if 'items' is empty; if true, it displays this div.
         If 'items' is not empty, it instead displays the 'showItems' template. -->

    There are no wishes to display.
    <!-- Message shown when 'items' is empty. -->
  </div>

  <ng-template #showItems>
    <!-- This is an Angular template named 'showItems', which is displayed if 'items' has one or more elements.
         It contains the list of items to display. -->

    <ul class="wish-list">
      <!-- Unordered list with a class 'wish-list' that contains each item in 'items'. -->

      <li *ngFor="let item of items; index as ii">
        <!-- This <li> element is repeated for each element in the 'items' array.
             'item' represents the current element in each iteration of the loop. -->

        <div class="form-check">
          <!-- A div with the class 'form-check', typically used for form-related elements in Bootstrap or similar frameworks. -->

          <label class="form-check-label">
            <!-- Label with the class 'form-check-label', often used to label form elements in a styled way. -->

           <!--
            Checkbox input element used to display and update the completion status of an item in a list.
            * Attributes:

            * - [checked]="item.isComplete": Angular property binding that dynamically sets the checkbox's `checked` state based on the 'isComplete' property of the current item.
            *   - If 'item.isComplete' is true, the checkbox will be rendered as checked.
            *   - If 'item.isComplete' is false, the checkbox will be rendered as unchecked.
            * - [attr.data-inde]="ii": Angular attribute binding that dynamically sets a custom data attribute, `data-inde`, on the checkbox element.
            *   - `ii` is likely an index variable from an *ngFor loop, representing the position of the current item in the list.
            *   - `data-inde` allows easy access to the index of each item in the DOM if needed for additional functionality or styling.
           -->
            <input 
              class="checkbox" 
              type="checkbox"
              [checked]="item.isComplete" 
              [attr.data-index]="ii"
               (click)="toggleItem(item)"
            />{{item.wishText}}
          </label>
        </div>
      </li>
    </ul>
  </ng-template>

  <!-- Container ends here -->
</div>
